/Bai 1. De cuong hoc phan - Tong quan ve .NET va ngon ngu CSharp.pdf
/Bai 2. De cuong hoc phan - Du lieu co cau truc, phuong thuc va xu ly ngoai le trong CSharp.pdf
/Bai1-Bai-tap-tong-hop-tren-lop.pdf
/Bai1-Phieu-bai-tap-Lap-trinh-NET-BTVN.pdf
/Bai1-Phieu-bai-tap-tren-lop.pdf
/Bai2-Phieu-bai-tap-tren-lop.pdf
/Bai2-Phieu-bai-tap-ve-nha.pdf
/Bai3-Phieu-bai-tap-tren-lop.pdf
/Bai3-Phieu-bai-tap-ve-nha.pdf
/Cau-Truc-Bai-TX1-LTNet.pdf
/LeLenhNguyen_2021604114_Bai2_BTVN.zip
/Screenshot 2023-09-18 093806.png
/Screenshot 2023-09-18 093819.png
/Screenshot 2023-09-18 093920.png
DemoBai9-10.docx
Bai8-Phieu-bai-tap2.pdf
Bai8-Phieu-bai-tap1.pdf
Bai8-Phieu-bai-tap1.docx
Bai7-Phieu-bai-tap2.pdf
Bai7-Phieu-bai-tap1.pdf
Bai7-de-cuong-bai-hoc.pdf
Bai 10. Phieu-giao-bai-tap.pdf
Bài 10. Đề cương bài giảng.pdf
Bai 9. Phieu-giao-bai-tap.pdf
Bài 9. Đề cương bài giảng.pdf
Bai 6. Phieu bai tap 3-saulenlop.pdf
Bai 6. Phieu bai tap 2-trenlop.pdf
Bai 6. Phieu bai tap 1-truoclenlop.pdf
Bai 6. De cuong bai giang_thuchanh.pdf
Bai 5. Phieu bai tap_tren_lop2.pdf
Bai 5. Phieu bai tap_tren_lop1.pdf
Bai 4.De cuong bg-LT huong doi tuong.pdf
Bai 4. Phieu bai tap1.pdf
DeThucHanhWPF.pdf
LeLenhNguyen_114.zip
LeLenhNguyen_114/BaiTap95/GiaoDien95_UnChecked.png
Bai11_LeLenhNguyen114_P1/Bai11_LeLenhNguyen114_P1.sql
Bai11_LeLenhNguyen114_P1/.vs/Bai11_LeLenhNguyen114_P1/DesignTimeBuild/.dtbcache.v2
Bai11_LeLenhNguyen114_P1/.vs/Bai11_LeLenhNguyen114_P1/FileContentIndex/2194c489-427e-473b-9321-e3ee52466e4c.vsidx
Bai11_LeLenhNguyen114_P1/.vs/Bai11_LeLenhNguyen114_P1/v17/.futdcache.v2
Bai11_LeLenhNguyen114_P1/.vs/ProjectEvaluation/bai11_lelenhnguyen114_p1.metadata.v7.bin
Bai11_LeLenhNguyen114_P1/.vs/ProjectEvaluation/bai11_lelenhnguyen114_p1.projects.v7.bin
Bai11_LeLenhNguyen114_P1/Baitap1/obj/Debug/net5.0-windows/Baitap1_MarkupCompile.i.cache
Bai11_LeLenhNguyen114_P1/Baitap1/obj/Debug/net5.0-windows/Baitap1.AssemblyInfoInputs.cache
Bai11_LeLenhNguyen114_P1/Baitap1/obj/Debug/net5.0-windows/Baitap1.assets.cache
TaiLieuBai11-12/DemoBai11-12/.vs/DemoBai11-12/FileContentIndex/3128eea1-eff3-4255-aa46-5fcb044baa1e.vsidx
TaiLieuBai11-12/DemoBai11-12/.vs/DemoBai11-12/FileContentIndex/61646889-1446-464a-a98d-921ad1c6a156.vsidx
TaiLieuBai11-12/DemoBai11-12/.vs/DemoBai11-12/FileContentIndex/a5d7a621-ca7e-442e-b2d4-a7d0942e9520.vsidx
Bai11-de-cuong-bai-hoc.pdf
Bai11-phieu-bai-tap-1.pdf
Bai11-phieu-bai-tap-2.pdf
Bai11-phieu-bai-tap-3.pdf
Bai12-phieu-giao-bai-tap1.pdf
Bai12-Phieu-giao-bai-tap2.pdf
Bai12-phieu-giao-bai-tap3.pdf
Cấu trúc 2.docx
MinhHoa2.docx
