/Bai 1. De cuong hoc phan - Tong quan ve .NET va ngon ngu CSharp.pdf
/Bai 2. De cuong hoc phan - Du lieu co cau truc, phuong thuc va xu ly ngoai le trong CSharp.pdf
/Bai1-Bai-tap-tong-hop-tren-lop.pdf
/Bai1-Phieu-bai-tap-Lap-trinh-NET-BTVN.pdf
/Bai1-Phieu-bai-tap-tren-lop.pdf
/Bai2-Phieu-bai-tap-tren-lop.pdf
/Bai2-Phieu-bai-tap-ve-nha.pdf
/Bai3-Phieu-bai-tap-tren-lop.pdf
/Bai3-Phieu-bai-tap-ve-nha.pdf
/Cau-Truc-Bai-TX1-LTNet.pdf
/LeLenhNguyen_2021604114_Bai2_BTVN.zip
/Screenshot 2023-09-18 093806.png
/Screenshot 2023-09-18 093819.png
/Screenshot 2023-09-18 093920.png